.overviewPage {
  background: #F5F6FC;
  margin-bottom: 24px;
}
.overviewPage .overviewChildren {
  background: #ffffff;
  padding: 41px 24px 36px 24px;
}
.overviewPage .overviewChildren .ant-spin {
  position: absolute;
}
.overviewPage .overviewChildren .ant-divider-horizontal {
  margin: 15.5px 0;
}
.overviewPage .overviewChildren .ant-divider {
  background: #f5f6fc;
}
.overviewPage .overviewChildren h1 {
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #112e54;
  padding-bottom: 15.5px;
  border-bottom: 1px solid #eff0f9;
}
.overviewPage .overviewChildren .user-info {
  display: flex;
  align-items: center;
  margin-top: 36px;
  height: 132px;
  box-sizing: border-box;
}
.overviewPage .overviewChildren .user-info .info {
  width: 19.38%;
  padding: 24px 32px;
  margin-right: 12px;
  height: 100%;
  background-color: #f5f6fc;
}
.overviewPage .overviewChildren .user-info .permission {
  width: calc(5.86%);
}
.overviewPage .overviewChildren .user-info .permission .upload {
  background-color: #f5f6fc;
  height: 60px;
  padding: 16px 32px;
}
.overviewPage .overviewChildren .user-info .permission .upload h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overviewPage .overviewChildren h5 {
  text-align: left;
  font-family: PingFangSC;
  font-size: 28px;
  line-height: normal;
  color: #112e54;
  margin-top: 4px;
  margin-bottom: 2px;
}
.overviewPage .overviewChildren .wan {
  margin-left: 12px;
  font-size: 20px;
  font-family: PingFangSC-Semibold;
}
.overviewPage .overviewChildren a {
  display: block;
  text-align: left;
  font-family: PingFang-SC;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: #1890ff;
}
.overviewPage .overviewChildren .view:after {
  content: url('../../../../images/dashboard/viewBtn.svg');
  margin-left: 6px;
}
.overviewPage .overviewChildren h3 {
  text-align: left;
}
.overviewPage .overviewChildren h3 img {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}
.overviewPage .overviewChildren h3 span {
  font-size: 14px;
  color: rgba(17, 46, 84, 0.6);
  font-family: PingFang-SC;
}
.overviewPage .overviewChildren h3 code {
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #112e54;
  margin-left: 17px;
}
.overviewPage .overviewChildren h4 {
  text-align: left;
}
.overviewPage .overviewChildren h4 span {
  font-family: PingFangSC;
  font-size: 14px;
  line-height: normal;
  color: rgba(17, 46, 84, 0.6);
}
.overviewPage .overviewChildren h4 code {
  display: inline-block;
  float: right;
  width: 20px;
  height: 15px;
  border-radius: 8px;
  background-color: #f5222a;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
}
.overviewPage .overviewChildren h2 {
  font-family: PingFang-SC;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
  color: #112e54;
  margin-top: 24px;
}
.overviewPage .overviewChildren .ant-card {
  background: #f5f6fc;
  height: 132px;
  border: none;
}
.overviewPage .overviewChildren .ant-card .ant-card-body {
  padding: 24px;
  height: 100%;
}
.overviewPage .overviewChildren .column-col {
  height: 60px;
}
.overviewPage .overviewChildren .row-column {
  height: 132px;
}
.overviewPage .overviewChildren .row-column .column-col:nth-of-type(2) {
  margin-top: 12px;
}
.overviewPage .overviewChildren .ant-card-body {
  text-align: center;
}
.overviewPage .overviewChildren:nth-of-type(2) {
  margin-top: 24px;
}
